main {
  &.dark-theme {
    background-color: var(--vry-dark-blue);
    color: var(--light-grayish-blue);
  }

  &.light-theme {
    background-color: var(--vry-light-gray);
    color: var(--vry-dark-grayish-blue);
  }
}

.dark-theme {
  .todo-app {
    &__header {
      background-image: url(https://ik.imagekit.io/csdesigner/todo_app/bg-desktop-dark_dyPkTAQsE.jpg?updatedAt=1678693698886);
    }

    &__container-holder {
      .create-todo-form {
        background-color: var(--vry-dark-desaturated-blue);
      }

      .todo-app-list {
        background-color: var(--vry-dark-desaturated-blue);

        .todo-item {
          border-bottom: 1px solid var(--vry-dark-grayish-blue);
        }
      }

      .todo-list-setting {
        background-color: var(--vry-dark-desaturated-blue);
        border-top: 1px solid var(--vry-dark-grayish-blue);

        button {
          &:hover {
            color: var(--c-white);
          }
        }
      }
    }
    
  }
}

.light-theme {
  .todo-app {
    &__header {
      background-image: url(https://ik.imagekit.io/csdesigner/todo_app/bg-desktop-light_8zzFtKjqvG.jpg?updatedAt=1678693698821);
    }

    &__container-holder {
      .create-todo-form {
        background-color: var(--c-white);
      }

      .todo-app-list {
        background-color: var(--c-white);
        
        .todo-item {
          border-bottom: 1px solid var(--vry-light-grayish-blue);
        }
      }

      .todo-list-setting {
        background-color: var(--c-white);
        border-top: 1px solid var(--vry-light-grayish-blue);

        button {
          color: var(--dark-grayish-blue);

          &:hover {
            color: var(--vry-dark-grayish-blue);
          }
        }
      }
    }
  }
}