.todo-app__container {
  &-holder {
    .todo-list-setting {
      padding: 20px 25px 18px;
      border-radius: 0 0 5px 5px;
      background-color: var(--vry-dark-desaturated-blue);
      border-top: 1px solid var(--vry-dark-grayish-blue);
      display: grid;
      grid-template-columns: auto 1fr auto;
      box-shadow: 0px 0px 34px -4px rgba(0,0,0,0.1);

      .todo-count {
        small {
          font-weight: 400;
        }
      }

      .todo-filter {
        margin: auto;
        display: flex;
        align-items: center;
        grid-gap: 20px;

        button {
          font-weight: 700;
        }
      }

      .todo-clear {
        margin-left: auto;
      }

      button {
        cursor: pointer;
        border: 0;
        background-color: transparent;
        color: inherit;
        font-family: "Josefin Sans", sans-serif;
        font-size: 15px;

        &:hover {
          color: var(--c-white);
        }
      }
    }
  }
}